header.factor-header
    .container
        .row
            .col-sm-12
                .factor-header__wrapper
                    .factor-header__logo-container
                        a(href="javascript:void(0);")
                            img.factor-header__logo.img-responsive(src="./img/logo.svg")
                    .factor-header__nav-container
                        ul.factor-header__nav
                            li.factor-header__nav-item
                                a.factor-header__nav-link(href="javascript:void(0);")
                                    | Request a Demo
                            li.factor-header__nav-item
                                a.factor-header__action-btn(href="javascript:void(0);")
                                    | log in