script(src="./js/plugins/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js")
script( src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")

script(src="./js/plugins/TweenMax.min.js")
script(src="./js/plugins/ScrollMagic.js")
script(src="./js/plugins/animation.gsap.js")
//- script(src="./js/plugins/debug.addIndicators.js")

script(src="./js/plugins/parsley.min.js")

script(async defer src="js/main.js")

//- script(async defer src="./js/aos-init.js")
//- script(async defer src="./js/pattern-anims.js")
//- script(async defer src="./js/why-factor-anims.js")
//- script(async defer src="./js/form-validations.js")
//- script(async defer src="./js/header-anim.js")
//- script(async defer src="./js/banner-slider.js")

