.circle-container {
	position: relative;
	// top: 50%;
	// transform: translateX(-50%);
	justify-content: center;
	align-items: center;
    flex-direction: column;
    display: none;
    
    @media (min-width: $screen-sm) {
        display: flex;
        transform: translateY(70px);
    }
    
    @media (min-width: $screen-md) {
        transform: translateY(70px);
    }
    @media (min-width: $screen-lg) {
        transform: translateY(140px);
    }
    @media (min-width: $screen-xlg) {
        transform: translateY(190px);
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: none;
    }
}

.circle {
	position: absolute;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 50%;
    transition: all 2s ease;
    pointer-events: none;
	// transform: rotate(160deg);

	&:before {
		content: '';
		position: absolute;
		height: 10px;
		width: 10px;
		border-radius: 50%;
		background-color: rgba(255,255,255,0.3);
		left: -5px;
        top: 50%;
        @media (min-width: $screen-lg) {
            height: 16px;
            width: 16px;
            left: -8px;
        }
	}

	&--1 {
        padding: 80px;
        @media (min-width: $screen-lg) {
            padding: 90px;
        }
        @media (min-width: $screen-xlg) {
            padding: 110px;
        }
		animation: rotateanimreverse 20s linear 2s infinite alternate;
	}
	&--2 {
		padding: 160px;
        @media (min-width: $screen-lg) {
            padding: 180px;
        }
        @media (min-width: $screen-xlg) {
            padding: 220px;
        }
        animation: rotateanim 20s linear 2s infinite alternate;
	}
	&--3 {
		padding: 240px;
        @media (min-width: $screen-lg) {
            padding: 270px;
        }
        @media (min-width: $screen-xlg) {
            padding: 330px;
        }
        animation: rotateanimreverse 20s linear 2s infinite alternate;
	}
	&--4 {
        padding: 320px;
        @media (min-width: $screen-lg) {
            padding: 360px;
        }
        @media (min-width: $screen-xlg) {
            padding: 440px;
        }
		animation: rotateanim 20s linear 2s infinite alternate;
	}
}

@keyframes rotateanim {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}

@keyframes rotateanimreverse {
	from {
		transform: rotate(180deg);
	}
	to {
		transform: rotate(0deg);
	}
}
