/*
Color Codes
*/
$primary-color: #07a8f7;
$white: #ffffff;
$black: #000000;

/*
  Media Query Breakpoints
*/
$screen-xs: 475px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xlg: 1440px;

/*
 Media Query Breakpoints end
*/

$proxima-light: 'ProximaNova-Light';
$proxima-bold: 'ProximaNova-Bold';
$proxima-regular: 'ProximaNova-Regular';
$proxima-semibold: 'ProximaNova-Semibold';
// $proxima-medium: 'Poppins-Medium';
