section.factor-banner
    .container
        .col-sm-12
            .factor-banner__wrapper
                .factor-banner__content
                    h2.factor-banner__heading(data-aos="fade" data-aos-delay="0")
                        | Transform
                        span Your Invoices Into Cash
                    h4.factor-banner__sub-heading(data-aos="fade" data-aos-delay="0")
                        | Factor offers a hassle free, fully transparent and real-time solution for both buyers and suppliers to manage cash flows and improve liquidity by utilizing their approved invoices to generate cash.
                .circle-container
                    .circle.circle--1
                    .circle.circle--2
                    .circle.circle--3
                    .circle.circle--4
                .factor-banner__pattern-wrapper
                    img.factor-banner__pattern(src="./img/banner-patterns.png" alt="banner pattern")
                .banner-slider-wrapper(data-aos="fade" data-aos-delay="0")

                    img.banner-slider__laptop(src="./img/laptop.png" alt="slider")

                    ul.banner-slider
                        li.banner-slider__slide
                            img.banner-slider__slide-img(src="./img/slider-screens/dashboard.png" alt="slider")
                        li.banner-slider__slider
                            img.banner-slider__slide-img(src="./img/slider-screens/offers-sent.png" alt="slider")
                        li.banner-slider__slider
                            img.banner-slider__slide-img(src="./img/slider-screens/active-bids.png" alt="slider")


section.factor-howto
    .container
        .row
          .col-sm-12
            .pattern-wrapper
                include ../../img/patterns/factor-list-patterns.svg

            ul.factor-banner__howto-list
              li.factor-banner__howto-list-item(data-aos="fade" data-aos-delay="500")
                  h4.factor-banner__howto-heading
                      | select
                  p.factor-banner__howto-desc
                      | Pick any Invoice
              li.factor-banner__howto-list-item(data-aos="fade" data-aos-delay="1000")
                  h4.factor-banner__howto-heading
                      | bid
                  p.factor-banner__howto-desc
                      | Send and Receive Offers
              li.factor-banner__howto-list-item(data-aos="fade" data-aos-delay="1500")
                  h4.factor-banner__howto-heading
                      | close
                  p.factor-banner__howto-desc
                      | Approve Best Offers
