section.factor-features
    .container
        .row.factor-features
            .col-sm-6
                .factor-features__screen-wrapper(data-aos="fade" data-aos-delay="")
                    img.factor-features__screen(src="./img/features-1.png" alt="feature screen")
            .col-sm-6
                .factor-features__content-wrapper.first
                    h2.factor-features__heading(data-aos="fade" data-aos-delay="")
                        | Simple, Secure and Efficient
                    ul.factor-features__list
                        li.factor-features__list-item(data-aos="fade" data-aos-delay="")
                            img.factor-features__list-img(src="./img/screen-list-1.svg" alt="list item")
                            p.factor-features__list-detail
                                span Lightweight integration
                                | - Factor integrates easily with most ERP systems and requires very simple implementation from the client system.
                        li.factor-features__list-item(data-aos="fade" data-aos-delay="")
                            img.factor-features__list-img(src="./img/screen-list-2.svg" alt="list item")
                            p.factor-features__list-detail
                                span Highly Secure
                                | - Data is fully encrypted all the way from the client to the physical hardware that stores the data.
                        li.factor-features__list-item(data-aos="fade" data-aos-delay="")
                            img.factor-features__list-img(src="./img/screen-list-3.svg" alt="list item")
                            p.factor-features__list-detail
                                span Low Resource Spend
                                |  - Factor utilizes the cloud to scale to any size. Resources are created and released on demand, keeping costs low.

        .row.factor-features.flex-sm-row-reverse
            .col-sm-6
                .factor-features__screen-wrapper(data-aos="fade" data-aos-delay="")
                    img.factor-features__screen(src="./img/features-2.png" alt="feature screen")
            .col-sm-6
                .factor-features__content-wrapper
                    h2.factor-features__heading.second(data-aos="fade" data-aos-delay="")
                        | Innovative Technology
                    ul.factor-features__list.second
                        li.factor-features__list-item(data-aos="fade" data-aos-delay="")
                            img.factor-features__list-img(src="./img/screen-list-4.png" alt="list item")
                            p.factor-features__list-detail
                                span End-to-End Digital Solution
                                | - Factor brings a traditionally complex offline model onto a completely transparent digital platform.
                        li.factor-features__list-item(data-aos="fade" data-aos-delay="")
                            img.factor-features__list-img(src="./img/screen-list-5.png" alt="list item")
                            p.factor-features__list-detail
                                span Real-Time: 
                                | - The platform reflects all user activity in real-time and is built to minimize bottlenecks and optimize user engagement.
                        li.factor-features__list-item(data-aos="fade" data-aos-delay="")
                            img.factor-features__list-img(src="./img/screen-list-6.png" alt="list item")
                            p.factor-features__list-detail
                                span Fully Featured Web & Mobile Clients
                                |  - Users can stay fully connected with the platform by using the web app or the mobile clients for iOS and Android.

