section.why-use-factor
    .container

        .row.mb-sm-4
            .col-sm-12.text-center
                .section-title-wrapper
                    h1.section-title(data-aos="fade")
                        | why use factor
                h4.why-use-factor__desc(data-aos="fade")
                   span Real Time Solution. Secure. Easy integration. Quick Payment.
                   | Factor offers a fully transparent, non intrusive platform without any termination fees, long time contracts or minimum volume requirement. There is no third party involvement and it offers easy integration with the most major ERP systems. It uses the existing set up with a standard driven cloud deployment.

        .row.mb-sm-5
            .col-sm-6
                .why-use-factor__img-wrapper(data-aos="fade")
                    img.why-use-factor__img(src="./img/use-factor-1.svg" alt="use factor 1")
            .col-sm-6
                .why-use-factor__content-wrapper
                    .why-use-factor__list-wrapper
                        h2.why-use-factor__list-title(data-aos="fade")
                            | Factor for Buyers
                        ul.why-use-factor__list
                            li.why-use-factor__list-item(data-aos="fade" data-aos-delay="")
                                p.why-use-factor__list-detail
                                    | Help generate additional revenue by utilizing free cash
                            li.why-use-factor__list-item(data-aos="fade" data-aos-delay="")
                                p.why-use-factor__list-detail
                                    | Provide tools to visualize and track payables and receivables
                            li.why-use-factor__list-item(data-aos="fade" data-aos-delay="")
                                p.why-use-factor__list-detail
                                    | Easily reach and notify suppliers about advance payment options
                            li.why-use-factor__list-item(data-aos="fade" data-aos-delay="")
                                p.why-use-factor__list-detail
                                    | Maximize returns by quickly clearing invoices that offer best returns

        .row.flex-column-reverse.flex-sm-row.mb-sm-5
            .col-sm-6
                .why-use-factor__content-wrapper
                    .why-use-factor__list-wrapper
                        h2.why-use-factor__list-title(data-aos="fade" data-aos-delay="")
                            | Factor for Suppliers
                        ul.why-use-factor__list
                            li.why-use-factor__list-item(data-aos="fade" data-aos-delay="")
                                p.why-use-factor__list-detail
                                    | Provide a technology driven solution to ease cash flow issues
                            li.why-use-factor__list-item
                                p.why-use-factor__list-detail(data-aos="fade" data-aos-delay="")
                                    | Offer a free and user friendly platform to view and track payments
                            li.why-use-factor__list-item
                                p.why-use-factor__list-detail(data-aos="fade" data-aos-delay="")
                                    | Get notified about availability of funds for advance payment
                            li.why-use-factor__list-item(data-aos="fade" data-aos-delay="")
                                p.why-use-factor__list-detail
                                    | Close deals fast and get paid early
            .col-sm-6
                .why-use-factor__img-wrapper(data-aos="fade" data-aos-delay="")
                    img.why-use-factor__img(src="./img/use-factor-2.png" alt="use factor 2")