section.why-factor
    .container

        .row.mb-sm-4.why-factor-row.heading
            .col-sm-12.text-center
                .section-title-wrapper.why-factor-title
                    h1.section-title(data-aos="fade")
                        | why factor
                h4.why-factor__desc(data-aos="fade")
                    | Factor is an ideal cash flow management platform built to manage your payables & receivables,
                    | and to generate additional revenue or ease cash flow gaps through intelligent tools and real-time bidding.

        .row.why-factor-row.why-factor-first-row
            .col-sm-4.col-lg-4
                .why-factor__flow-img-wrapper.first
                    img.why-factor__flow-img.first(src="./img/why-factor-1.svg" alt="why factor")
            .col-sm-7.col-lg-6
                .why-factor__content-wrapper
                    h2.why-factor__title.title-1
                        | opportunity
                    p.why-factor__detail.first
                        | The existing infrastructure for short term financing involves underwriting by third parties
                        | or requires additional approvals and paperwork. As a result companies with cash reserves are earning poor returns, while companies in need of capital are borrowing at high rates.

        .row.why-factor-row.lines-row.second
            .col-sm-12
                .factor-svg-wrapper
                    include ../../img/why-factor-line1.svg
            .col-sm-12
                .why-factor__flow-img-wrapper.second
                    img.why-factor__flow-img.second(src="./img/why-factor-2.svg" alt="why factor")

            .col-sm-12
                .factor-svg-wrapper
                    include ../../img/why-factor-line2.svg

        .row.why-factor-row.third
            .col-sm-3.col-lg-4.col-xl-3
                .why-factor__flow-img-wrapper.third
                    img.why-factor__flow-img.third(src="./img/why-factor-3.svg" alt="why factor")
            .col-sm-7.col-lg-6.col-xl-7
                .why-factor__content-wrapper.second
                    h2.why-factor__title.title-2
                        | our solution
                    p.why-factor__detail.second
                        | Factor provides an open and transparent platform which utilizes the existing relationship between buyers and sellers to optimize cash flow. Companies can work directly with each other to agree on payment terms and rates which are mutually beneficial.

        .row
            .col-sm-12
                .factor-svg-wrapper
                    include ../../img/why-factor-line3.svg

        .row.mb-sm-5.why-factor-row.flex-sm-row-reverse.fourth
            .col-sm-3.col-lg-3.col-xl-4
                .why-factor__flow-img-wrapper.fourth
                    img.why-factor__flow-img.fourth(src="./img/why-factor-4.svg" alt="why factor")
            .col-sm-7.col-lg-7.col-xl-8
                .why-factor__content-wrapper.third
                    h2.why-factor__title.title-3
                        | how it works
                    p.why-factor__detail.third
                        | Factor integrates with most ERP systems to pull invoice data onto a secure common platform. Buyers and Suppliers can actively monitor their invoices and track their cash flow in real time. Offers for early payment can be extended by any company for all or a part of the approved invoices on the platform.
