doctype html
html
		include ./pug/base/head.pug
		include ./pug/base/header.pug
		body
			main

					h2(data-aos="fade") Home Page

					form(data-parsley-validate)
						input#date(type="text", name="date" data-parsley-trigger="blur" data-parsley-required data-parsley-error-message=" Type some value bugger")
						input(type="submit")

					ul.hello-list.d-flex.flex-wrap

			include ./pug/base/scripts.pug
