doctype html
html
    include ./pug/base/head.pug
    include ./pug/base/header.pug
    body
        main
            include ./pug/layouts/banner.pug
            include ./pug/layouts/why-factor.pug
            
            .pattern-wrapper
                include ./img/patterns/why-factor-second-pattern.svg
                include ./img/patterns/why-factor-last-pattern.svg
            
            include ./pug/layouts/why-use-factor.pug
            include ./pug/layouts/factor-features.pug
            
            .pattern-wrapper
                include ./img/patterns/features-pattern-2.svg

        include ./pug/layouts/factor-contact.pug

    include ./pug/base/scripts.pug
